a
{
	float: right;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 18px;
	margin-right: 15%;
}
body
{
	background-color: #C0C0C0;
}
h3
{
	float: left;
	font-family: arial;
	margin-top: 18px;
	margin-bottom: 2px;
	margin-left: 15%;
}
legend
{
	font-family: arial;
	text-align: center;+
}
span
{
	float: left;
	height: 50px;
	margin-left: 30%;
	margin-right: 30%;
	width: 400px;

}
#divPrincipal
{
	background-color: #DEDEDE;
	border-style: solid;
	border-color: #434343;
	border-radius: 30px;
	height: 300px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10px;
	margin-bottom: 20px;
}
#fieldset
{
	background-color: #EBEBEB;
	border-color: #75B3CE;
	border-radius: 20px;
	float:left;
	margin-left: 8%;
	margin-right: 8%;
}
.etiqueta
{
	float:left;
	font-family: arial;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 150px;
}
.fa
{
	display: none;
	float: left;
}
.input
{
	float: left;
	font-family: arial;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 150px;
}