#boton3
{
	font-family: arial;
	font-size: 15px;
	float: right;
	height: 30px;
	margin-top: 10px;
	width: 200px;
}
#formulario3
{
	height: 480px;
}
#fieldsetPrestamo
{
	background-color: #F6F6F6;
	border-color: #58CAEC;
	border-width: 2px;
	border-radius: 20px;
	height: 480px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}
#legendaPrestamo
{
	font-family: arial;
	font-size: 18px;
	margin: 0px;
	text-align: center;
}
#numeroPedido
{
	text-align: right;
}
.divP
{
    float: left;
    margin: 0px;
}
.etiqueta2
{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #58CAEC;
	font-family: arial;
	font-size: 15px;
	float: left;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}
.fieldsetPrestamo
{
	background-color: #F6F6F6;
	border-color: #58CAEC;
	border-width: 2px;
	border-radius: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}
.input2
{
	font-family: arial;
	font-size: 15px;
	float: left;
	height: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 5px;
	width: 150px;
}
.input2:disabled
{
	background-color: #FFFFFF;
	border-width: 1px;
}
.legendaPrestamo2
{
	font-family: arial;
	font-size: 15px;
}
.select
{
	float: left;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}