#botonEliminar
{
    height: 25px;
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 0px;
    width: 120px;
}
#selectConsulta
{
    float: left;
    height: 27px;
    width: 200px;
    margin-right: 10px;
}
#divTabla
{
	background-color: #FFFFFF;
    border-style: solid;
    border-color: #58CAEC;
    border-width: 3px;
    height:390px;
	margin-top: 40px;
    overflow:scroll;
    padding: 2px;
    width:560px;
}
#divTabla table
{
    border-color: #000000;
    height: auto;
    width: auto;
}
#divPConsulta
{
    margin: 0px;
}
#fieldset
{
	background-color: #F6F6F6;
	border-color: #58CAEC;
	border-width: 2px;
	border-radius: 20px;
	height: 480px;
	padding: 10px;
	width: 570px;
}
#formulario
{
	height: 480px;
	margin: 0px;
	width: 570px;
}
#legenda
{
	font-family: arial;
	font-size: 18px;
	margin: 0px;
	text-align: center;
}
#labelConsulta
{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #58CAEC;
	float: left;
	font-family: arial;
	font-size: 18px;
	margin-right: 15px;
    padding-top: 3px;
}
.td
{
    font-family:  arial;
    height: 16px;
    margin: auto;
    text-align: center;
    width: 150px;
}
.td2
{
    background-color: #58CAEC;
    font-family:  arial;
    height: 15px;
    margin: auto;
    text-align: center;
    width: 150px;
}