#formulario2
{
	height: 250px;
}
#fieldset2
{
	background-color: #F6F6F6;
	border-color: #58CAEC;
	border-width: 2px;
	border-radius: 20px;
	height: 250px;
	margin-left: 20px;
	padding: 10px;

}

#inputBoton
{
	font-family: arial;
	font-size: 15px;
	float: right;
	height: 30px;
	margin-top: 10px;
	width: 200px;
}
#numeroControl
{
	text-align: right;
}
.etiqueta
{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #58CAEC;
	font-family: arial;
	font-size: 17px;
	float: left;
	height: 20px;
	margin: 15px;
}
.input
{
	font-family: arial;
	font-size: 15px;
	float: left;
	height: 18px;
	margin: 15px;
	width: 150px;
}
.input:disabled
{
	background-color: #FFFFFF;
	border-width: 1px;
}